/*
- - - > |  @font-face  | < - - - 
*/
/* Bryant Web Regular */
@font-face {
	font-family: 'BryantWebRegular';
	src: url('./webfonts/BryantWebRegular.eot');
	src: url('./webfonts/BryantWebRegular.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/BryantWebRegular.woff2') format('woff2'),
         url('./webfonts/BryantWebRegular.woff') format('woff');
	/* font-weight: normal; */
	font-style: normal;
	}

/*
- - - > |  Font Classes  | < - - - 
*/
.BryantWebRegular {
	font-family: 'BryantWebRegular';
	/* font-weight: normal; */
	font-style: normal;
	}

/*
- - - > |  Mobile | < - - - 
*/

@media only screen
and (max-device-width: 600px)
and (orientation: portrait) {
    #logo {
        font-size: 12vw;
        font-weight: bold;
        line-height: 11vw !important;
    }
}

body, div {
    margin: 0;
    /* width: 100%; */
}

/* CUSTOM CSS */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'BryantWebRegular', sans-serif;
}

h4 {
    font-size: 1.5em;
    margin: 0;
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    color: #fff;    
    opacity: 0.6;
    font-weight: normal;
    display: inline;
    transition: 0.3s;
}

p:hover {
    opacity: 1;
    font-size: 1.1rem;
    transition: margin-left ease-in-out 2s;
    cursor: none;
}

.lead {
    font-weight: bold;
    font-size: 1rem !important;
}

.navbar {
    background-color: #fff;
}

.jumbotron {
    background-image: url("./images/grid-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0px;
}

.container-fluid {
    padding-top: 5px;
}

img {
    max-width: 100%;
}

#logo {
    line-height: 50pt;
}

#intro-panel {
    background-image: url('images/grid-background_darker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 2.5%; */
    /* width: 95vw; */
    height: 95vh;
}

#logo-display {
    /* position at the bottom/ center */
    position: sticky;
}

#services-panel {
    /* display: inline-block; */
    /* position: relative; */
}

.row-1 {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.services-wrapper {
    flex: 1;
    margin: 10px;
    /* width: 40%; */
}

.services-image {
    display: flex;
    align-items: center;
    height: 300px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #aaa;
    background-blend-mode: color-burn; */
}

.services {
    background-color: #222A32;
    padding: 15px;
    color: #fff;
    height: 30px;
}

.services-desc {
    display: flex;
    background-color: #222222;
    width: 80%;
    height: 12em;
    margin: auto;
}

.services-desc-text {
    margin: auto 0;
}

.services li {
   /* list-style-type: square; */
    list-style: none;
    margin-left: -20px;
    font-family: 'BryantWebRegular', sans-serif;
	font-weight: normal;
}

.services-desc ul {    
    list-style: none;
}

.services-desc li:hover:before {    
    font-family: 'FontAwesome';
    content: '\f105'; /*check: f00c */
    margin:0 15px 0 -15px;
    color: #aaa;
    transition: margin-left ease-in-out 1s;
    display: inline-block;
}


/* #copyright {
    font-size: 0.7em;
    margin: auto;
    text-align: center;
} */