body, div {
    margin: 0;
}

body {
    background-color: #222A32;
}

/*
- - - > |  @font-face  | < - - - 
*/
/* Bryant Web Regular */
@font-face {
	font-family: 'BryantWebRegular';
	src: url('./webfonts/BryantWebRegular.eot');
	src: url('./webfonts/BryantWebRegular.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/BryantWebRegular.woff2') format('woff2'),
         url('./webfonts/BryantWebRegular.woff') format('woff');
	/* font-weight: normal; */
	font-style: normal;
	}

/*
- - - > |  Font Classes  | < - - - 
*/
.BryantWebRegular {
	font-family: 'BryantWebRegular';
	/* font-weight: normal; */
	font-style: normal;
	}

/*
- - - > |  Mobile | < - - - 
*/

@media (max-width: 701px) {
    #logo {
        font-size: 3em !important;
        font-weight: bold;
        line-height: 1em !important;
    }

    .row-1 {
        display: block !important;
    }
    
    .row {
        text-align: center !important;
    }

    .services-wrapper {
        flex: 1;
        margin: 5px;
        /* width: 40%; */
    }

    .services-desc li:hover:before {    
        margin:0 5px 0 -5px !important;
        transition: margin-left ease-in-out 1s;
        display: inline-block;
    }

    ul {
        padding-inline-start: 30px;
    }

    p {
        opacity: 0.8;
    }

    p:hover {
        opacity: 1;
    }

    #copyright {
        text-align: center !important;
    }

}

.show {
    opacity: 1;
    transition: opacity 500ms;
}
  
.hide {
  opacity: 0;
  transition: opacity 500ms;
}

.darker-background {
    background-color: #aaaaaa;
    background-blend-mode: color-burn;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'BryantWebRegular', sans-serif;
}
h2 {
    font-size: 1.2em;
    color: #fff;
}

h3 {
    font-size: 1.5em;
    display: inline-block;
    letter-spacing: 3px;

}

h4 {
    font-size: 1.1em;
    margin: 0;
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    display: inline-flex;
}

p.services-animation {
    font-size: 1rem;
    color: #fff;    
    opacity: 0.6;
    font-weight: normal;
    display: inline;
    transition: 0.3s;
}

p.services-animation:hover {
    opacity: 1;
    font-size: 1.1rem;
    transition: margin-left ease-in-out 2s;
    cursor: none;
}

a {
    font-size: 1em;
    color: #aaa;
    text-decoration: none;
    float: right;
    padding-left: 20px;
}

a:hover {
    color: #fff;
    transition: ease-in 0.5s;
}

.container-fluid {
    padding-top: 5px;
}

img {
    max-width: 100%;
}

#logo {
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.1em;
    font-size: 3.5em;
    color: #fff;
}

#logo::first-letter {
    font-size: 1.2em;
}


#intro-panel {
    background-image: url('images/grid-background_darker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#logo-display {
    position: absolute;
    padding: 0 0 10px 10px;
    bottom: 0;
}

.row {
    margin: 40px;
    padding: 1em;
    color: #fff;
    background-color: #222A32;
    font-weight: bold;
}

.row-1 {
    display: flex;
    position: relative;
    width: 100%;
}

.services-wrapper {
    flex: 1;
    margin: 0 30px;
}

.services-image {
    display: flex;
    align-items: center;
    height: 300px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.services {
    background-color: #222A32;
    padding: 15px;
    color: #fff;
    height: 30px;
}

.services-desc {
    /* display: none; */
    display: flex;
    background-color: #222A32;
    width: 80%;
    height: 12em;
    margin: auto;
}



.services-desc-text {
    margin: auto 0;
}

.services li {
    list-style: none;
    margin-left: -20px;
    font-family: 'BryantWebRegular', sans-serif;
	font-weight: normal;
}

.services-desc ul {    
    list-style: none;
}

.services-desc li:hover:before {    
    font-family: 'FontAwesome';
    content: '\f105'; /*check: f00c */
    margin:0 15px 0 -15px;
    color: #aaa;
    transition: margin-left ease-in-out 1s;
    display: inline-block;
}

#copyright {
    font-size: 0.7em;
    color: #aaa;
    text-align: right;
}